@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This student management system is designed to efficiently manage the core aspects of educational institutions. It allows administrators to create and manage profiles for students, teachers, and courses. The system enables enrollment of students into various courses, assigning teachers to these courses, and tracking enrollment details. Users can view all relevant information in a centralized manner. This streamlined approach helps in organizing academic data effectively and facilitates easy access to critical information about students' course assignments and teacher responsibilities. </p>
</div>
