@model Student_Management_System.Models.Teacher

<h1>Edit Teacher</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="TeacherId" />

    <div class="form-group">
        <label asp-for="FirstName" class="control-label">FirstName</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="control-label">LastName</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Specialization" class="control-label">Specialization</label>
        <select asp-for="Specialization" class="form-control">
            <option value="">Select Specialization</option>
            <option value="Math">Math</option>
            <option value="IT">IT</option>
            <option value="Biology">Biology</option>
            <option value="Chemistry">Chemistry</option>
            <option value="Physics">Physics</option>
            <option value="Deutsch">Deutsch</option>
        </select>
        <span asp-validation-for="Specialization" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="@Url.Action("Index", "Teachers")" class="btn btn-secondary">Cancel</a>
</form>


